# Compiled source #
###################
*.o
*.bin
*.map
*.hex
*.dis
*.pyc

# Packages #
############

# Logs and databases #
######################
*.log

# VIM swap files #
######################
*.swp

# Build dir #
######################
src/build

# IDE config file #
######################
usr/openmv.config

