# Compiled source #
###################
*.o
*.bin
*.map
*.hex
*.dis
*.pyc

# Cscope files #
############
cscope.*

# Logs and databases #
######################
*.log

# VIM swap files #
######################
*.swp

# Test files #
######################
scripts/unittest/temp/

# Build dir #
######################
build
docker/build/

# Old releases
######################
releases

# Alif tools temp files
######################
tools/alif/**/*.cfg
tools/alif/**/*.crt
tools/alif/**/*.ds
tools/alif/**/*.bin
tools/alif/**/*.bin.sign
tools/alif/build/*-map.txt
tools/st/stedgeai
