name: "CLA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened,closed,synchronize]

permissions:
  actions: write
  contents: write
  pull-requests: write
  statuses: write

jobs:
  CLAAssistant:
    runs-on: ubuntu-latest
    steps:
      - name: "CLA Assistant"
        if: (github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA') || github.event_name == 'pull_request_target'
        uses: contributor-assistant/github-action@v2.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path-to-signatures: 'signatures/version1/cla.json'
          path-to-document: 'https://github.com/openmv/openmv/blob/master/CLA.md'
          branch: 'master'
          allowlist: iabdalkader,kwagyeman,bot*
          lock-pullrequest-aftermerge: false
          create-file-commit-message: 'misc: Creating file for storing CLA Signatures'
          signed-commit-message: 'misc: $contributorName has signed the CLA in $owner/$repo'
